services:
    _instanceof:
        Contao\CoreBundle\Framework\FrameworkAwareInterface:
            calls:
                - ["setFramework", ["@contao.framework"]]

        Symfony\Component\DependencyInjection\ContainerAwareInterface:
            calls:
                - ["setContainer", ["@service_container"]]

    contao.image.picture_factory_watermark:
        class: MarcelMathiasNolte\WatermarkBundle\PictureFactory
        decorates: contao.image.picture_factory
        arguments:
            - '@MarcelMathiasNolte\WatermarkBundle\PictureFactory.inner'
